<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.all @ categories='clientlib-training.card2'}"/>
</sly>

<h2> Card Component-2 </h2>

<span data-sly-set.fullname="${properties.fullname}">Hello ${fullname}</span>



<div data-sly-attribute.id="${pageProperties.jcr:title}"></div>

<h1 data-sly-element="${properties.titleType}">text</h1>

<h2 data-sly-test="${properties.fullname}" >Full Name: "${properties.fullname}"</h2>

<p> Repeat</p>

<div data-sly-repeat.childItr="${currentPage.listChildren}">${childItr.name}</div>

<p>List</p>

<dl data-sly-list="${currentPage.listChildren}">
    <dt>index: ${itemList.index}</dt>
    <dd>value: ${item.title}</dd>
</dl>









    <div class="card">
      <img src="${properties.cardimage}" alt="Avatar" style="width:100%" >
      <div class="container">
        <h4><b>${properties.fullname}</b></h4>
        <p>${properties.description}</p>
      </div>
    </div>

<sly data-sly-include="sample.html"/>

<p> Context in HTL</p>

<div>${properties.description @ context='html'}</div>

