<template data-sly-template.head="${ @ page, pwa }" data-sly-use.headlibRenderer="headlibs.html"
    data-sly-use.headResources="head.resources.html">
    <meta charset="UTF-8">
    <title>${page.title}${page.brandSlug ? ' | ' : ''}${page.brandSlug}</title>
    <meta data-sly-test.keywords="${page.keywords}" name="keywords" content="${keywords}" />
    <meta data-sly-test.description="${page.description || properties['jcr:description']}" name="description"
        content="${description}" />
    <meta data-sly-test.templateName="${page.templateName}" name="template" content="${templateName}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta data-sly-test="${page.robotsTags}" name="robots" content="${page.robotsTags @ join=', '}">

    <meta content="${pageProperties.jcr:description}" name="description-common">

    <sly data-sly-test="${pwa.enabled}">
        <link rel="manifest" href="${pwa.manifestPath}" crossorigin="use-credentials" />
        <meta name="theme-color" content="${pwa.themeColor}" />
        <link rel="apple-touch-icon" href="${pwa.iconPath}" />
        <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
            data-sly-call="${clientlib.css @ categories='core.wcm.components.page.v2.pwa'}"></sly>
        <meta name="cq:sw_path" content="${pwa.serviceWorkerPath @ context ='text'}" />
    </sly>
    <sly data-sly-include="head.links.html"></sly>
    <sly data-sly-include="head.socialmedia.html"></sly>
    <sly data-sly-include="customheaderlibs.html"></sly>
    <sly data-sly-call="${headlibRenderer.headlibs @
                                designPath                = page.designPath,
                                staticDesignPath          = page.staticDesignPath,
                                clientLibCategories       = page.clientLibCategories,
                                clientLibCategoriesJsHead = page.clientLibCategoriesJsHead,
                                hasCloudconfigSupport     = page.hasCloudconfigSupport}"></sly>
    <sly data-sly-test.appResourcesPath=${page.appResourcesPath}
        data-sly-call="${headResources.favicons @ path = appResourcesPath}"></sly>
    <sly data-sly-list="${page.htmlPageItems}">
        <script data-sly-test="${item.location.name == 'header'}"
            data-sly-element="${item.element.name @ context='unsafe'}" data-sly-attribute="${item.attributes}"></script>
    </sly>
    <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
        <sly data-sly-call="${clientlib.all @ categories='clientlib-assignment1'}" />
    </sly>

</template>